@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

html.dark body {
  background-color: #030712;
}

.prose span.pre {
  @apply py-1 px-1.5 font-mono font-medium rounded bg-gray-100 dark:bg-gray-800;
}

.prose :not(h1,h2,h3,h4,h5,h6) span.pre {
  @apply text-sm;
}

pre.shiki {
  @apply pb-2 text-[15px] overflow-x-scroll scrollbar scrollbar-h-2 scrollbar-thumb-rounded scrollbar-thumb-gray-600 scrollbar-track-transparent;
  counter-reset: line;
}

pre.shiki .line {
  counter-increment: line;
}

pre.shiki .line:before {
  @apply select-none inline-block pr-4 text-gray-600 text-[15px] text-right;
  width: 2rem;
  content: counter(line);
}